/*First Navbar*/
.navbar:first-of-type 
{
  height: auto;
  padding: 10px 0;
background-color: #007b70;
border-radius: 0;
}
.Username
{
  display: flex;
  align-items: center;
}
.User-Icon
{
  font-size: 25px;
  color: #009688;
  float: right;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  cursor: pointer;
  }
  .Username a
  { 
    color: #fff;
  }
  .Username a :hover
  {
    color:#f7b036;
  }
  



/*User Menu*/

.User-area {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}
.User-area > .User-avtar {
  width: 100%;
  height: 100%;
  border-radius: 30px;

}
.User-area > .User-avtar > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.User-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  list-style: none;
  padding: 0 20px;
  width: 150px;
  margin: 0;
  top: 52px;
  right: -9%;
}
.User-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 0px;
  box-sizing: border-box;
  border: 7px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}
.User-Dropdown.U-open {
  display: block;
  width: 230px;
  z-index: 10;
}
.User-Dropdown > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.17);
}
.User-Dropdown li i{
  color: #007b70;
  font-size: 17px;
}
.User-Dropdown > li:last-child {
  border-bottom: 0px;
}
.User-Dropdown > li > a {
  font-size: 13px;
  text-decoration: none;
  color: #007b70;
  font-weight: 600;
  transition: all 0.2s ease-out;
}
.User-Dropdown span {
  background: #16d67a;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
}
.User-Dropdown > li:before {
  content: "";
  width: 0px;
  height: 40px;
  position: absolute;
  background: #007b70;
  margin-top: 4px;
  border-radius: 0 1px 1px 0;
  left: 0px;
  transition: all 0.2s ease;
}
.User-Dropdown > li:hover:before {
  width: 5px;
  border-radius: 30px;
}
.User-Dropdown > li a:hover {
  margin-left: 5px;
}
#Fav_Mobile
{
  display: none;
}
/*User Menu*/
.Registration
{
  display: flex;
  align-items: center;
  height: 20px;
}
@media  (max-width: 700px) {
  #Nav_Bar_Search_Button  {
    display: none;
  }
  .Username span:first-of-type
  {
    display: none;
  }
  .Username a
  {
    font-size: 15px;
  }
  #Navbar_Search
  {
    width: 50%;
  }
  #Fav_Mobile
  {
    display: flex;
  }
  .User-Menu
  {
    display: block;
    right: 0;
    margin: 0px auto;
  }
}
@media  (max-width: 1000px) {

  .Registration , .Username
{
  height: 30px;
  padding-top: 10px;
  margin: 5px 0px;

}

.User-Menu {
  position: relative;
  top: 5px;
}
.User-Menu ul
{
  padding: 0 10px;
}
}
.FirstNavLinks
{
  color: #Fff;
  margin: 0 5px;
}
.FirstNavLinks:hover
{
  color: #Fff;
}
#NavSpan
{
  color: #fff;
}

.btn-outline-success
{
  color : #fff;
  border-color: #fff;
}
.btn-outline-success:hover {
  color: #198754;
  background-color: #fff;
  border-color: #fff;
}



@media  (min-width: 1000px) {
  .form-control{
    width: 300px;
  }
 }

/*Second Navbar*/
.navbar{
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 1px 3px 4px 0 #adadad33;
}
/*border-radius*/
@media  (min-width: 1000px) {
 .navbar{
    border-radius: 0px 0px 40px 40px;
 }
}
/*border-radius*/


.navbar-light .navbar-brand {
  color: #007b70;
  font-size: 30px;
  padding-left: 18px;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
  color: #4a4a4ae6;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #045049;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link{
  padding-top: 22px;
  padding-bottom: 22px;
  transition: 0.3s;
  padding-left: 17px;
  padding-right: 18px;
      font-size: 16px;
      font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  background: #fff;
  transition: 0.3s;
  color: #000;
}
.dropdown-item:focus, .dropdown-item:hover {
 color: #F9B736;
 text-decoration: none;
 background-color: #fff !important;
}
.sm-menu{
 border-radius: 0px;
 border: 0px;
 top: 97%;
 box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
 color: #3c3c3c;
     font-size: 17px;
}
.dropdown-item.active, .dropdown-item:active {
 color: #fff;
 text-decoration: none;
 background-color: #224A8F;
}
.navbar-toggler{
 outline: none !important;
}
.navbar-tog{
 color: #009688;
}
.megamenu-li {
 position: static;
}

.megamenu {
 overflow-y: scroll;
 height: 535px;
 position: absolute;
 width: 100%;
 left: 0;
 right: 0;
 padding: 15px;
}
.megamenu h6{
 margin-left: 16px;
 font-size: 18px;
 font-weight: bold;
}
.megamenu i{
 width: 20px;
}



/*Shopping Basket*/
.PurchaseValue
{
 
  font-size: 20px;
  padding-left: 10px;
  padding-right: 30px;
}

.Shopping-cart {
font-size: 30px;
color: #009688;
float: right;
margin-top: 3px;
margin-right: 17px;
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: 2s;
}
.Shopping-cart:hover
{
  color: #007468;
}
#cd-cart-trigger
{
    position: absolute;
    right: 40px;
    top: 5px;
}
@media  (max-width: 1000px) {
  #cd-cart-trigger
  {
      top: 0;
  }
 }

.total-qty {
  display : none ; /*****/
  position: absolute;
  height: 18px;
  width: 18px;
  background: #25b9ab;
  color: #fff;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  line-height: 17px;
  font-weight: 600;
  top: 13px;
  right: 63px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#Shopping-cart
{
margin: 0 auto;
}

@media  (max-width: 1000px) {
  #Shopping-cart
  {
  margin: 0;
  position: absolute;
  right: 50px;
  top: -2px;

}
.total-qty 
{
  top: 5px;
}
}

/*Shopping Basket*/
/*MiniCart*/
.MiniCart
{
  position: absolute;
  width: 26%;
  min-height: 400px;
  overflow-y: auto;
  top: 118px;
  right: 36px;
  background: #fff;
  border : 1px solid #C8C9CA;
  border-top: none;
  z-index: 15;
  border-radius: 0 0 10px 10px;
  display: none;
}
@media  (max-width: 1000px) {
.MiniCart
{
  width: 40%;
  top: 105px;
}
}
@media  (max-width: 600px) {
  .MiniCart
  {
    width: 70%;
    top: 105px;
  }
  }
.ViewCart
{ 
  height: 26px;
  margin: 15px 10px 0px 10px;
}
.ViewCart h3
{
  display: inline;
  color: #007b70;
  font-weight: 600;
}
.ViewCart button
{
  float: right;
  background: #009688;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.ViewCart button:hover
{
  background-color: #006359;
}
.MiniCart .Product 
{
  min-height:110px;
}
.MiniCart .Product img
{
  width: 25%;
  margin-left: 2%;
}
.MiniCart .Product h3
{
  font-size: 20px;
  color: #007b70;
}
.MiniCart .Product .NameAndPrice
{
  display: inline;
  width: 70%;
  float: right;
}
.product-count {
  top: 40%;
  left: 29%;
  height: 30px;
}

.product-count a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.button-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #007b70;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  border: none;
  outline: none;
}
.button-count:active {
  background-color: #007b70;
}

.number-product {
  display: inline-block;
  width: 38px;
  height: 32px;
  border-radius: 5px;
  font-size: 24px;
  border: 1px solid silver;
  text-align: center;
}

:disabled {
  background-color: silver;
}

.MiniCart .SubTotal h4
{
  display: inline;
  margin-left: 2%;
}
.MiniCart .SubTotal span
{
  font-size: 20px;
  padding-left: 30px;
}

.MiniCart .Total h4
{
  display: inline;
  margin-left: 2%;
}
.MiniCart .Total span
{
  font-size: 20px;
  padding-left: 30px;
}
.MiniCart .Checkout button
{
  color: #fff;
  background-color: #007b70;
  border-radius: 5px;
  width: 80%;
  border: none;
  padding: 12px;
  margin-left: 10%;
}
.MiniCart .Checkout button:hover
{
  background-color: #005f57;
}


















/*MiniCart*/


/* Silder*/
:root {
 --carousel-height: 300px;
}

/** Wrapper */
.carousel {
 position: relative;
 margin-bottom: 20px !important;
}

/* Resets for all buttons */
.is-control {
 z-index: 1;
 background: none;
 color: rgba(0,0,0,.7);
 border: 0;
 cursor: pointer;
 transition: all .2s linear;
}

 .is-control:focus {
   outline: none;
   background-color: rgba(0,0,0,.8);
   color: rgba(255,255,255,1);
 }

 /* Pause/play toggle for autoplay */
 .slick-autoplay-toggle-button {
   bottom: 15px;
   left: 10px;
 }

 /* Previous slide button */
 .previous-button {
    position: absolute;
    left: 0;
    top: calc(var(--carousel-height)/2 - 40px);
    padding: 5px 15px;
    z-index: 3;
    font-size: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
 }

 /* Next slide button */
 .next-button {
   position: absolute;
   right: 0;
   top: calc(var(--carousel-height)/2 - 40px);
   
   padding: 5px 15px;
   z-index: 1;
   
   font-size: 30px;
   
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-right: 0;
 }
 @media  (max-width: 1000px) {
    /* Pause/play toggle for autoplay */
 .slick-autoplay-toggle-button {
  bottom: 15px;
  left: 10px;
}

/* Previous slide button */
.previous-button {
   top: calc(var(--carousel-height)/2 - 100px);
   font-size: 30px;
}

/* Next slide button */
.next-button {
  top: calc(var(--carousel-height)/2 - 100px);
  font-size: 30px;
}

 }
  /**
 Single slide
*/
.slide {
 position: relative;
 height: var(--carousel-height);
}

 .slide .background-image {
   width: 1250px;
   height: 100%;
   margin: 0 auto;
 }
 @media  (max-width: 1000px) {
 .slide .background-image
  {
    width: 100%;
    height: auto;
    margin: 25px 0 0 0;

}
}


/**
 Slide 2 content
*/
.slide .content {
 position: absolute;
 top: 20px;
 left: 15%;

 max-width: 400px;
 width: 50%;
 max-height: 70%;
 padding: 15px;

 white-space: normal;
 color: white;
 background-color: royalblue;
 box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
}

 .slide .content h2 {
   margin: 0;
   font-size: 1.7rem;
 }

 .slide .content p {
   margin: 10px 0 20px 0;
 }

 .slide .content .cta-link {
   display: inline-block;
   padding: 5px 10px;

   background-color: white;
   color: rgba(0,0,0,.7);
   text-decoration: none;
   font-weight: 800;
   box-shadow: 3px 3px 0 0 rgba(0,0,0,.3);
 }

   .slide .content .cta-link:focus,
   .slide .content .cta-link:hover {
     text-decoration: underline;
     color: black;
   }

   .slide .content .cta-link:focus {
     outline: 3px solid rgba(0,0,0,1);
   }

/** Slide dots */
.slick-dots {
 bottom: 15px;
}

 .slick-dots li {
   padding: 0;
   margin: 0 1px;
 }

/** Credits at bottom */
.credits {
 margin-right: 20px;
 padding: 5px;
 float: right;
 font-size: 14px;
 color: black;
 text-decoration: none;
 opacity: .7;
}

 .credits img {
   height: 30px;
   margin-left: 5px;
   margin-top: -2px;
   vertical-align: middle;
 }

 .credits:hover,
 .credits:focus {
   opacity: 1;
 }

/* End Of Silder*/
.dropdown-menu .navbar-form {
  min-width: 250px;
}



/*ShippingBox*/

#ShippingBox {
  width: 330px;
  height: 230px;
  right: -350px;
  top: 140px;
  padding-top: 30px;
  margin: auto;
  position: absolute;
  z-index: 2;
}
@media  (max-width: 1000px) {
  #Close_Shipping_Box
  {
    display: none;
  }


}
#Close_Shipping_Box
{
  color: #007b70;
  position: absolute;
  font-size: 25px;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
#ShippingBox figure {
	position: relative;
  height: 100%;
	display: block;
	margin: 0;
	padding: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;

}
#ShippingBox picture {
	display: block;
}
#ShippingBox figure img {
	width: 100%;
}
#ShippingBox figcaption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
	pointer-events: none;
	padding: 60px 40px;
	text-align: left;
}
#ShippingBox span {
	font-size: 15px;
  font-weight: bold;
	color: #000;
	pointer-events: auto;
}
#ShippingBox figcaption h3 {
  color: #007b70;
	text-transform: uppercase;
	text-decoration: none;
}
#ShippingBox a 
{
  color: #007b70;
  font-weight: bold;
}

@media  (max-width: 1000px) {
  #ShippingBox
   {
    width: 100%;
    height: 146px;
    right: 0;
    top: 260px;
    padding-top: 30px;
    margin: auto;
    position: absolute;
    z-index: 2;
 
 }
 }


 /*ShippingBox*/
.shippingpopup
{
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #000;
}

.pop-up {
  position:fixed;
  height:100vh;
  width:100%;
  background-color:rgba(0,0,0, .4);
  top:0;
  left:0;
  visibility:hidden;
  opacity:0;
  transition:all .3s;
  z-index: 555;
  
  display:flex;
  align-items:center;
  justify-content:center;
} /* Background */

.pop-up:target {
  visibility:visible;
  opacity:1;
} /* */

.pop-up__content {
  height:310px;
  width:94%;
  background-image: url(../img/desktop1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius:8px;
  transform:scale(.5);
  transition: all .5s;
  z-index: 3;
  position:fixed;
}
.pop-up__content2 {
  height:310px;
  width:94%;
  background-image: url(https://wenfee.com/img/e123.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius:8px;
  transform:scale(.5);
  transition: all .5s;
  z-index: 3;
  position:fixed;
}
@media  (max-width: 1000px) {
  .pop-up__content {
    width : 350px ;
    height :350px ;
    background-image: url(../img/mob1.jpg);
  }
  .pop-up__content2 {
    width : 350px ;
    height :350px ;
    background-image: url(../img/mob2.jpg);
  }
 }
.pop-up:target .pop-up__content {
  transform:scale(1)
}
.pop-up:target .pop-up__content2 {
  transform:scale(1)
}

.pop-up__close {
  position: absolute;
  top: 0px;
  right: 20px;
  color: #d00;
  font-size: 35px;
  font-weight: 700;
}
.pop-up__close:hover
 {
  color: rgb(157, 0, 0);
 }




 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#adding{
  padding: 8px 16px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #007B70;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}
.alert{
  background: #007b71c6;
  padding: 20px 40px;
  width: 600px;
  position: fixed;
  right: -15px;
  top: 80%;
  border-radius: 4px;
  border-left: 8px solid #007B70;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 400;
}
@media  (max-width: 1000px) {
  .alert
   {
    width: 100%;
  }
 }
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
}
.alert .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #007269c6;
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn:hover{
  background: #00a597c6;
}
.alert .close-btn .fas{
  color: #fff;
  font-size: 22px;
  line-height: 40px;
}















/* Mini cart */



/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to horizontally align the gallery of items */
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

xheader271 

-------------------------------- */
header271 {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #31353d;
  text-align: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}
@media only screen and (min-width: 1200px) {
  header271 {
    height: 80px;
  }
}

#logo {
  padding-top: 5px;
  /* delete this property if you don't want your logo to scale down on mobile devices */
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
@media only screen and (min-width: 1200px) {
  #logo {
    padding-top: 20px;
    position: absolute;
    /* logo left margin on Dekstop */
    left: 2.4em;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/*
#cd-hamburger-menu, #cd-cart-trigger {

}
#cd-hamburger-menu a, #cd-cart-trigger a {

}
*/
#cd-hamburger-menu {
  left: 0;
}
#cd-hamburger-menu a {
  background: #26292f url("../img/cd-hamburger-menu.svg") no-repeat center center;
}
@media only screen and (min-width: 1200px) {
  #cd-hamburger-menu {
    display: none;
  }
}
#cd-cart-trigger a {
  width: auto;

}
#main-nav, #cd-cart {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 260px;
  /* header271 height */
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  #main-nav, #cd-cart {
    width: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  #main-nav, #cd-cart {
    width: 30%;
    /* header271 height has changed */
    padding-top: 80px;
  }
}

#main-nav {
  left: -100%;
  background: #FFF;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}
#main-nav.speed-in {
  left: 0;
}
#main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  border-bottom: 1px solid #e0e6ef;
}
#main-nav ul .current {
  box-shadow: inset 3px 0 #435779;
}
@media only screen and (min-width: 1200px) {
  #main-nav {
    /* reset main nav style */
    position: absolute;
    height: auto;
    width: auto;
    left: auto;
    right: 8em;
    padding-top: 0;
    top: 0;
    background: transparent;
    box-shadow: none;
    /* header271 height */
    line-height: 80px;
    z-index: 4;
  }
  #main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  #main-nav ul a {
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 1em 1.4em;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
  }
  #main-nav ul a.current {
    box-shadow: none;
    background: #435779;
    color: #FFF;
  }
  .no-touch #main-nav ul a:hover {
    background: #435779;
    color: #FFF;
  }
}
.no-js #main-nav {
  position: fixed;
}


#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  display: inline-block;
  margin: 0 auto 20px auto;
}
#cd-cart h2 {
  font-weight: bold;
  text-align: center;
  color: #007b70;
  font-size: 20px;
  text-transform: uppercase;
  margin: 65px 0 15px 0;
}
#cart-button
{
  width: 100px;
    padding: 5px;
    position: relative;
    display: block;
    margin: 0 auto;
    border: 0;
    border-radius: 20px;
    color: #fff;
    background: #007b70;
}
#cart-header
{
  margin-top: 65px;
  margin-bottom: 15px;
  padding: 5px 5px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media  (max-width: 388px) {
  #cd-cart h2
  {
    margin: 120px 0 15px 0;
  }
}
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: .4em;
  font-size: 22px;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../../img/cd-remove-item.svg") no-repeat center center;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total p
{
  font-size: 23px;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#ZIP_Code
{
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart_img{
  float: right;
  margin-right: 50px;
  width: 85px;
  max-height: 100px;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #007b70;
  color: #FFF;
  text-align: center;
}
#cd-cart .checkout-btn:hover
{
  background: #015c54;
}
.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 2em;
  }
  #cd-cart .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
main {
  position: relative;
  min-height: 100%;
  background: #eeeff7;
  padding-top: 70px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  main {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    padding-top: 120px;
  }
}

#cd-gallery-items li {
  margin-bottom: 1.5em;
}
#cd-gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
@media only screen and (min-width: 768px) {
  #cd-gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  #cd-gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}

#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 999;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Mini cart */


.speed-in 
{
  z-index: 999 !important;
}

