@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}

body.is-loading,
html.is-loading {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 400;
  outline: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.fi {
  vertical-align: middle;
  line-height: 1;
}

button {
  cursor: pointer;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.alert {
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px 2%;
  margin: 15px;
  background: #f5f5f5;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  border: #ddd 1px solid;
  text-transform: capitalize;
}

.alert.alert-danger {
  border-color: #e70b1e;
  color: #e70b1e;
  background: #ffe4e4;
}

.alert.alert-success {
  border-color: #4CAF50;
  color: #108415;
  background: #dcffdd;
}

body {
  background: #f7fdff;
}

.login-form {
  background-color: #fff;
  border-radius: 10px;
  border: #c3c3c3 1px solid;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 50px auto;
}

.login-form h1 {
  font-weight: bold;
  margin: 0;
}

.login-form h1 img {
  height: 96px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.login-form h2 {
  text-align: center;
}

.login-form p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.login-form span {
  font-size: 12px;
}

.login-form a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login-form button {
  border-radius: 50px;
  border: 1px solid #009688;
  background-color: #009688;
  color: #FFFFFF;
  font-size: 15px;
  padding: 9px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.login-form button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.login-form button:focus {
  outline: none;
}

.login-form button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.login-form form {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.login-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login-form .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.login-form .sign-in-container {
  left: 0;
  width: 50%;
  opacity: 1;
  z-index: 1;
}

.login-form.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

.login-form .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 1;
  z-index: 1;
}

.login-form.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

.login-form .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

.login-form.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.login-form .overlay {
  background: #009688;
  background: -webkit-gradient(linear, left top, right top, from(#4147ff), to(#417dff));
  background: linear-gradient(to right, #4147ff, #417dff);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.login-form.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.login-form .overlay-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.login-form .overlay-left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.login-form.right-panel-active .overlay-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.login-form .overlay-right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.login-form.right-panel-active .overlay-right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}
/*# sourceMappingURL=signin.css.map */