@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// $c1: #167db9;
$c1: #009688;
$c2: #f7b036;

body,
html {
    padding: 0;
    margin: 0;

    &.is-loading{
        overflow: hidden;
    }
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
    outline: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.fi{
    vertical-align: middle;
    line-height: 1;
}

button {
    cursor: pointer;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left;
}

.alert {
    width: 100%;
    text-align: center;
    display: block;
    padding: 15px 2%;
    margin: 15px;
    background: #f5f5f5;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    border: #ddd 1px solid;
    text-transform: capitalize;

    &.alert-danger {
        border-color: rgb(231, 11, 30);
        color: rgb(231, 11, 30);
        background: #ffe4e4;
    }

    &.alert-success {
        border-color: #4CAF50;
        color: #108415;
        background: #dcffdd;
    }
}
